In [112]:
import pandas as pd

In [113]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [114]:
#call the function
say_hello()

Hello!

In [115]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [116]:
# call function
say_something("Hello World!")

Hello World!

In [117]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [118]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [119]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [120]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [121]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [122]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [123]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [124]:
passing_math_count = 29370
total_student_count = 39170

In [125]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [126]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [127]:
class Cat:
    def __init__(self, name):
        self.name = name

In [128]:
first_cat = Cat("Felix")
print(first_cat.name)

Felix

In [129]:
second_cat = Cat("Garfield")
print(second_cat.name)

Garfield

In [132]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
        
    def bark(self):
        return self.sound + ' ' + self.sound

In [135]:
first_dog = Dog("Fido", "brown", "woof!")
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [137]:
second_dog = Dog("Lady", "blonde", "arf!")
print(second_dog.name)
print(second_dog.color)
second_dog.bark()

Lady
blonde

'arf! arf!'